.metro-placeholder.placeholder {
  opacity: 0.5;
  cursor: pointer;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-user-modify: read-only !important;
  text-align: center;
}
/* METRO */
.metro-panels {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: none;
  color: #ffffff;
  overflow: visible;
  margin-bottom: 0;
  padding: 0;
}
/** SLIDE IN ANIMATION */
/*.metro-panels {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.metro-panels.ready {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}*/
/** FADE IN ANIMATION */
.metro-panels {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.metro-panels.ready {
  opacity: 1;
}

.metro-panels ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.metro-panels ul > li.linked {
  cursor: pointer;
}

.panels {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
}

.metro-panels ul > li .metro-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.metro-panels ul > li .metro-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.45);
  max-height: 100%;
  overflow: hidden;
  text-align: left;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.metro-panels ul > li .metro-desc:empty {
  display: none;
}

.metro-panels ul > li.linked .metro-desc {
  padding-top: 24px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}

.metro-panels ul > li .metro-desc .linked-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  text-align: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.metro-panels ul > li .metro-desc .metro-title {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
}
/* METRO SIZES */
.panels.size11 {
  width: 150px;
  height: 150px;
}

.panels.size21 {
  width: 310px;
  height: 150px;
}

.panels.size22 {
  width: 310px;
  height: 310px;
}
@media (min-width: 420px) {
  .panels.size11 {
    width: 160px;
    height: 160px;
  }

  .panels.size21 {
    width: 330px;
    height: 160px;
  }

  .panels.size22 {
    width: 330px;
    height: 330px;
  }
}
@media (min-width: 640px) {
  .panels.size11 {
    width: 185px;
    height: 185px;
  }

  .panels.size21 {
    width: 380px;
    height: 185px;
  }

  .panels.size22 {
    width: 380px;
    height: 380px;
  }
}
@media (min-width: 1024px) {
  .panels.size11 {
    width: 230px;
    height: 230px;
  }

  .panels.size21 {
    width: 470px;
    height: 230px;
  }

  .panels.size22 {
    width: 470px;
    height: 470px;
  }
}
@media (min-width: 1200px) {
  .panels.size11 {
    width: 310px;
    height: 310px;
  }

  .panels.size21 {
    width: 630px;
    height: 310px;
  }

  .panels.size22 {
    width: 630px;
    height: 630px;
  }
}
@media (min-width: 1300px) {
  .panels.size11 {
    width: 330px;
    height: 330px;
  }

  .panels.size21 {
    width: 670px;
    height: 330px;
  }

  .panels.size22 {
    width: 670px;
    height: 670px;
  }
}

[data-container-size="initial"] .panels.size11 {
  width: 150px;
  height: 150px;
}

[data-container-size="initial"] .panels.size21 {
  width: 310px;
  height: 150px;
}

[data-container-size="initial"] .panels.size22 {
  width: 310px;
  height: 310px;
}

[data-container-size="420"] .panels.size11 {
  width: 160px;
  height: 160px;
}

[data-container-size="420"] .panels.size21 {
  width: 330px;
  height: 160px;
}

[data-container-size="420"] .panels.size22 {
  width: 330px;
  height: 330px;
}

[data-container-size="640"] .panels.size11 {
  width: 185px;
  height: 185px;
}

[data-container-size="640"] .panels.size21 {
  width: 380px;
  height: 185px;
}

[data-container-size="640"] .panels.size22 {
  width: 380px;
  height: 380px;
}

[data-container-size="1024"] .panels.size11 {
  width: 230px;
  height: 230px;
}

[data-container-size="1024"] .panels.size21 {
  width: 470px;
  height: 230px;
}

[data-container-size="1024"] .panels.size22 {
  width: 470px;
  height: 470px;
}

[data-container-size="1200"] .panels.size11 {
  width: 310px;
  height: 310px;
}

[data-container-size="1200"] .panels.size21 {
  width: 630px;
  height: 310px;
}

[data-container-size="1200"] .panels.size22 {
  width: 630px;
  height: 630px;
}

[data-container-size="1300"] .panels.size11 {
  width: 330px;
  height: 330px;
}

[data-container-size="1300"] .panels.size21 {
  width: 670px;
  height: 330px;
}

[data-container-size="1300"] .panels.size22 {
  width: 670px;
  height: 670px;
}

@media (max-width: 399px) {
  .metro-panels .metro-desc p {
    font-size: 14px;
  }

  .metro-panels .metro-desc p.metro-title {
    font-size: 1em;
  }
}
